<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>

<body>

<br>
<h3>Reload DB</h3>
<form th:action="@{reloadDB}" method="post">
    <input type="submit" value="Reload Database"><br>
</form>

<h3>Actual car list</h3>
<form>
    <table style="border: 1px solid #AAAAAA; width: 500px;
    padding: 3px 4px;">
        <thead>
        <tr style="text-align: left; width: 25%">
            <th scope="col">ID</th>
            <th scope="col">Mark</th>
            <th scope="col">Model</th>
            <th scope="col">Color</th>
            <th scope="col">Production</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${carList}">
            <td th:text="${car.getCarId()}"></td>
            <td th:text="${car.getCarMark()}"></td>
            <td th:text="${car.getCarModel()}"></td>
            <td th:text="${car.getCarColor()}"></td>
            <td th:text="${car.getCarProduction()}"></td>
        </tr>
        </tbody>
    </table>
</form>

<br>
<h3>Add car</h3>
<form th:action="@{addCar}" th:object="${newCar}" method="post">
    Id: <input type="number" th:field="*{carId}"> <br>
    Mark: <input type="text" th:field="*{carMark}"><br>
    Model: <input type="text" th:field="*{carModel}"><br>
    Color: <input type="text" th:field="*{carColor}"><br>
    Production: <input type="number" th:field="*{carProduction}"><br><br>
    <input type="submit" value="Add new Car"><br>
</form>
<br>

<h3>Select cars in specific production range</h3>
<form th:action="@{selectedCars}" method="post">
    From: <input type="number" th:name="yearMin" placeholder="type year" value="2010"><br>
    To: <input type="number" th:name="yearMax" placeholder="type year" value="2015"><br><br>
    <input type="submit" value="Show cars">
</form>



</body>
</html>